In [4]:
import pandas as pd
import re
import seaborn as sn
import matplotlib.pyplot as plt

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
df = pd.read_csv(('/content/drive/My Drive/the-hello-dataset-fa22.csv'))

y = df['Name']
print(y)

0           Muhammad Usman
1              Taha Ishfaq
2          Muhammad Hamdan
3      Syeda Maham Gillani
4               Umar Wasim
              ...
129       M Abubakar Malik
130           Muhammad Ali
131           shafaqat ali
132            Ammar Asif
133        Muhammad Zubair
Name: Name, Length: 134, dtype: object

In [10]:
check = df['Name'].str[0]

In [ ]:
for i in range(len(check)):
  if(check[i] == 'h'or check[i] == 'H'):
    print(y[i])

In [ ]:
for i in range(len(y)):
  x = y[i].split()
  if (len(x) == 3):
    print(y[i])

In [ ]:
check = df['CGPA']

In [ ]:
for i in range(len(check)):
  val = float(check[i])
  if(val >= 3):
    print(check[i])

In [ ]:
g= df['Gender']
print(g)

In [ ]:
check = df['Gender']

In [ ]:
male=0
female=0
for i in range(len(check)):
  if(check[i] == 'Male'):
    male=male+1
  if(check[i]=='Female'):
    female=female+1

In [ ]:
import matplotlib.pyplot as plt
import numpy as np



y = np.array([male,female])

plt.pie(y)
plt.show()

In [ ]:
import matplotlib.pyplot as pyplot

In [ ]:
cgpa_list = []
cgpa = df['CGPA']
for i in range(len(cgpa)):
  if(check[i] == 'Male'):
    x = float(cgpa[i])
    cgpa_list.append(x)

In [ ]:
fig, ax = pyplot.subplots(figsize=(6, 5))
(
    pd.cut(cgpa, bins=np.arange(0, 4, 0.5))
        .value_counts()
        .sort_index()
        .plot.bar(ax=ax)
)

In [ ]:
HSC1=df['HSSC-1']

In [ ]:
male=[]
female=[]

In [ ]:
for i in range(len(check)): 
  if(check[i] == 'Male'):
    x = int(HSC1[i])
    male.append(x)
  if(check[i] == 'Female'):
     y = int(HSC1[i])
     female.append(y)

In [ ]:
import numpy
import matplotlib.pyplot as plt

arr = numpy.array(male)
arr1 = numpy.array(female)
plt.scatter(arr, arr)
plt.scatter(arr1, arr1)

plt.show()

In [ ]:
colour=df['FavoriteColor']

In [ ]:
malecolor=[]
femlaecolor=[]

In [ ]:
for i in range(len(check)): 
  if(check[i] == 'Male'):
    x = (colour[i])
    malecolor.append(x)
  if(check[i] == 'Female'):
     y = (colour[i])
     femlaecolor.append(y)

In [ ]:
fig = plt.figure(figsize =(10, 7))
 
# Horizontal Bar Plot
plt.bar(malecolor[0:10],femlaecolor[0:10])
 
# Show Plot
plt.show()

In [ ]:
plt.plot(colour,y)
plt.title('graph')
plt.xlabel('colour')
plt.ylabel('y')
plt.show()

In [ ]:
p=df['HSSC-2']
X=df['HSSC-1']

In [ ]:
float(HSSC1)
float(p)

In [ ]:

matrix = np.corrcoef(X, p)
print(matrix)

[[1.         0.06686309]
 [0.06686309 1.        ]]

In [ ]:
sn.heatmap(matrix, annot=True)
plt.show()